@page "/Log_ud"
@using Blazored.LocalStorage
@inject NavigationManager Navigation
@inject ILocalStorageService localStore

<h3>Log_ud</h3>

@code {
    protected override async Task OnInitializedAsync() // metode til at fjerne brugerens legitimationsoplysninger
    {
        await RemoveCredentials(); // kald på metoden til at fjerne brugerens legitimationsoplysninger
    }
    
    public async Task RemoveCredentials()
    {
        await localStore.RemoveItemAsync("currentAdministrator"); // fjerner brugerens legitimationsoplysninger fra lokal lagring
        Navigation.NavigateTo("/login", true); // navigerer brugeren til login-siden
        
    }
}