@page "/brugeroversigt"
@using Core
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="header">
    <h3>Bruger oversigt</h3>
    <button class="add-button" @onclick="AddNewUser">Tilføj Ny Bruger</button>
</div>

<div class="container">
    @if (AllAdmins == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var admin in AllAdmins)
        {
            <div class="column">
                <div class="column-header">
                    <h5>@admin.Name</h5>
                    <button class="view-button" @onclick="() => ViewUser(admin.Email)">Se bruger</button>
                </div>
                <div class="col-6">
                    <img class="card-img-top" src="data:image/jpg;base64,@admin.Image" alt="Image" style="height: 200px; object-fit: cover;">
                </div>
                <div class="user-details">
                    <p>Email: @admin.Email</p>
                    <p>Telefon: @admin.PhoneNumber</p>
                </div>
            </div>
        }
    }
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .column {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        border-radius: 8px;
        position: relative;
    }

    .column-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .view-button {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto;
    }

    .add-button {
        padding: 5px 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .user-details {
        padding-top: 10px;
    }

    button:hover {
        opacity: 0.8;
    }

    h5 {
        margin: 0;
        color: #333;
    }

    p {
        margin: 5px 0;
        color: #666;
    }
</style>

@code {
    private List<Administrator> AllAdmins;

    protected override async Task OnInitializedAsync()
    {
        await GetAllAdmins();
    }

    public async Task GetAllAdmins()
    {
        AllAdmins = await Http.GetFromJsonAsync<List<Administrator>>("https://localhost:7026/api/admin/get-all");
    }

    private void AddNewUser()
    {
        NavigationManager.NavigateTo("/nybruger");
    }

    private void ViewUser(string email)
    {
        NavigationManager.NavigateTo($"/admin/{email}");
    }
}
