@page "/login"
@using Core
@inject NavigationManager Navigation

<h3>Login</h3>
<EditForm EditContext="@aEditContext" OnSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-6 mb-3">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="administrator.Email" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="password">Adgangskode</label>
        <InputText type="password" @bind-Value="administrator.Password" id="password" class="form-control" />
    </div>
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</EditForm>

@code {
    private EditContext aEditContext;
    private Core.Administrator administrator = new Core.Administrator();

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(administrator);
    }

    private void HandleSubmit()
    {
        if (aEditContext.Validate())
        {
            // Logik til at håndtere indsendelse
            // For eksempel kan du navigere til en anden side
            Navigation.NavigateTo("/home");
        }
    }
}
