@page "/systemindstillinger"
@inject NavigationManager navigationManager
@inject HttpClient Http
@using Core

<PageTitle>Systemindstillinger</PageTitle>

<h1>Systemindstillinger</h1>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <h3>Tilføj lokation</h3>
    @foreach (Location location in _newSystemSet.Locations)
    {
        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-3 mb-3">
                <label for="city">By</label>
                <InputText id="city" class="form-control"/>
            </div>
            <div class="col-md-3 mb-3">
                <label for="city">Uger</label>
                <InputText id="city" class="form-control"/>
            </div>
        </div>

        @foreach (Period period in location.Periods)
        {
            <div class="row" style="margin-bottom: 30px">
                <div class="col-md-3 mb-3">
                    <label for="period">Periode</label>
                    <InputText id="period" class="form-control"/>
                    <button type="button" @onclick="() => RemovePeriod(location, period)">Remove Period</button>
                </div>
                <div>
                    <button type="button" @onclick="() => AddPeriod(location)">Tilføj Periode</button>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="capacity">Kapacitet</label>
                    <InputNumber id="capacity" @bind-Value="_newSystemSet.Locations.Capacity" class="form-control"/>
                </div>
            </div>
        }
    }
    
    <div class="row" style="margin-bottom: 30px">
        <div style="margin-bottom: 50px">
            <button type="button" class="btn btn-primary" @onclick="addLocation" style="margin-top: 10px">Tilføj lokation</button>
        </div> 
        <div style="margin-bottom: 50px">
            <button type="button" class="btn btn-danger" @onclick="removeLocation" style="margin-top: 10px">Fjern lokation</button>
        </div> 
    </div>
    
<button type="submit" class="btn btn-primary">Gem</button>
    
</EditForm>

@code {
    private EditContext aEditContext;
    SystemSettings _newSystemSet = new();

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(_newSystemSet);
        _newSystemSet.Locations.Add(new Location());
        _newSystemSet.Locations[0].Periods.Add(new Period());
    }
    
    
    public async Task HandleValidSubmit()
    {
        await Http.PostAsJsonAsync<SystemSettings>($"https://localhost:7026/api/application/create", _newSystemSet);
        navigationManager.NavigateTo($"brugeroversigt");
    }

    public bool ekstraLocation = false;
    
    private void AddPeriod(Location location)
    {
        if (location.Periods == null)
        {
            location.Periods = new List<Period>();
        }
        
        location.Periods.Add(new Period());
        
        for (int i = 0; i < location.Periods.Count; i++)
        {
            location.Periods[i].PeriodName = $"Period{i + 1}";
        }
    }
    
    private void RemovePeriod(Location location, Period period)
    {
        location.Periods.Remove(period);
        
        for (int i = 0; i < location.Periods.Count; i++)
        {
            location.Periods[i].PeriodName = $"Period{i + 1}";
        }
    }

    public void addLocation()
    {
        // Logic to add a location
        _newSystemSet.Locations.Add(new Location());
    }

    public void removeLocation()
    {
        // Logic to remove a location, e.g., removing the last one added
        if (_newSystemSet.Locations.Any())
        {
            _newSystemSet.Locations.RemoveAt(_newSystemSet.Locations.Count - 1);
        }
    }
}
