@page "/AnsøgningsBekræftelse"

<div style="text-align: center; margin-bottom: 50px">
<h1>Ansøgnings Bekræftelse</h1>
<p>Tak for din ansøgning. Du modtager en mail så snart vi har behandlet din ansøgning.</p>
</div>


@code {
    
}