@using Blazored.LocalStorage
@inject NavigationManager Navigation
@inject ILocalStorageService localStore
@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Børneklub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-plus" aria-hidden="true"></span> Børneklub tilmelding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signatur">
                <span class="oi oi-plus" aria-hidden="true"></span> Signatur
            </NavLink>
         </div>
        @if(state =="AdministratorLoggedIn")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="systemindstillinger">
                    <span class="oi oi-plus" aria-hidden="true"></span> Systemindstillinger
                </NavLink>
            </div>
        }
        @if (state == "AdministratorLoggedIn")
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="planlaegning">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Planlægning
                </NavLink>
            </div>
        }
        @if(state == "AdministratorLoggedIn" || state == "StandardUserLoggedIn")
                {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="oversigt">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Oversigt
                </NavLink>
            </div>
        }
        @if (state == "AdministratorLoggedIn")
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="brugeroversigt">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bruger oversigt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventoversigt">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Event oversigt
            </NavLink>
        </div>
        }
    </nav>
</div>

@code {
    private string state;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await CheckCredentials();
        
    }
    
    public async Task CheckCredentials()
    {
        var localStorageUser = await localStore.GetItemAsync<Administrator>("currentAdministrator");
    
        if (localStorageUser == null)
        {
            state = "NotLoggedIn";
        }
        else
        {
            var email = localStorageUser.Email;
            var user = await Http.GetFromJsonAsync<Administrator>("https://localhost:7026/api/admin/get-by-email/" + email);

            if (user.Role == "Administrator")
            {
                state = "AdministratorLoggedIn";
            }

            if (user.Role == "Standard bruger")
            {
                state = "StandardUserLoggedIn";
            }
        }
    }

}